<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231721799609-uvt4kub8a4e6ql8pvqa7j3iu4fs7hgig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231721799609-uvt4kub8a4e6ql8pvqa7j3iu4fs7hgig</string>
	<key>API_KEY</key>
	<string>AIzaSyC9pOePG0q-3spq-tJnfNqd1MLDkwkYr7w</string>
	<key>GCM_SENDER_ID</key>
	<string>231721799609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capywise</string>
	<key>PROJECT_ID</key>
	<string>capywise</string>
	<key>STORAGE_BUCKET</key>
	<string>capywise.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231721799609:ios:59d590213343f008a8b068</string>
</dict>
</plist>